<div class="main">

	<div class="section shadow">
	<h2>A small introduction about the LearningHub</h2>
	<p>The LearningHub is a tool designed to support researchers with the unobtrusive collection, integration, analysis, and exploitation of data about predefined learning scenarios such as: </p>
	<ul>
		<li>Deliberate practice</li>
		<li>Live Lectures</li>
		<li>Online Lectures</li>
		<li>Live collaboration</li>
		<li>Online collaboration</li>
	</ul>
	<p>By unobtrusive we mean that students or teachers can act in a natural way without having to perform additional actions in order to track their performance. To do this, the LearningHub needs to orchestrate the collection, storing, processing, and exploitation of data coming from a configurable network of sensors.
</p>
</div>
	

</div>
