<div class="dashboard">
	<div class="note shadow rounded-3 m-1 p-1">
		<ul>
			<li>select the sensors you want record from</li>
			<li>give the recording a name und write comments if needed</li>
			<li>click on start to record from the selected sensors</li>
		</ul>
	</div>
	<!--                           Middle Section                       -->
	
	<div class="controlArea m-1 p-1 rounded-3">
		
		<!--  left: sensorsList section-->
		<div class="sensorsList rounded-3 m-3" [class.opacity]="isRecording">
		<h5
				class="card-header card-header-color"
		><b>Sensorslist</b>  <p style="float: right;">#: {{sensorsList.length}}</p>	  </h5>
			<app-sensors-list
					[sensorsList]="sensorsList"
					[controlpanelConnected]="controlpanelConnected"
					[isRecording]="isRecording"
			>
				</app-sensors-list>
		</div>
		
		<!--  right: recording and control section  -->
		<div class="controlDiv rounded-3 m-3">
		<h5
				class="card-header card-header-color"
		><b>Recording Control</b> 	  </h5>
		
		<div>
						<div class="flex-center">
								<app-stopwatch class="m-3"></app-stopwatch>
								<div class="buttons m-3">
								
								<button
										class="btn btn-primary m-1"
										type="button"
										(click)="startRecording()"
										[disabled]="isRecording"
								>
								<img
										src="assets/images/icons/start.png"
								> start </button>
			                    <button
					                    class="btn btn-danger m-1"
					                    type="button"
					                    (click)="stopRecording()"
					                    [disabled]="!isRecording"
			                    > <img
					                    src="assets/images/icons/stop.png"
			                    >
				                    stop</button>
									</div>
		
			</div>
						<div class="recordingForm rounded-3 m-3">
							<div class="a">
							<form
									#recordingForm="ngForm"
							>
							<div class="panel panel-info">
								<input
										type="text"
										class="form-control form-control-sm mb-2"
										id="recording-name"
										name="recording-name"
										placeholder="recording name"
										ngModel
								>
							</div>

							<div class="form-group">
							<textarea
									id="comments"
									class="form-control form-control-sm mb-2"
									name="comments"
									type="text"
									placeholder="comments"
									ngModel
							></textarea>
							</div>
						</form>

			</div>
		</div>

		</div>
		</div>
		
	
	</div>
	
	
	<!--                           Right Section                       -->
	

<div class="sidenav-right">
			<!-- Recording List -->
			<div class="card recordings m-1 rounded-2">
					  <h5 class="card-header card-header-color"> <b>Recordings history</b>  <p
							  style="float: right;
					  padding:0px; margin:0px;"
					  >#:
						  {{localRecordingsList.length}}</p>
					  </h5>
					  <div
							  class="card-body"
							  id="recordingsCard"
					  >

						<app-recordings-list [recordingsList]="localRecordingsList"></app-recordings-list>
						  </div>
				</div>
			
			<!-- Terminal -->
			<div class="card terminal m-1 rounded-2">
					  <h5
							  style="color: white;"
							  class="card-header card-header-color"
					  ><b>Terminal</b> 	  </h5>
					  <div
							  class="card-body"
							  id="terminalId"
					  >
											<app-terminal></app-terminal>
					  </div>
				</div>

	</div>


</div>
