











#circle {
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 50%;
    position: relative;
    width: calc(100vw - 89vw);
    height: calc(100vw - 89vw);

}


.circle-content {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#terminal {
    margin-left: 8px;
    margin-top: 0px;
    height: 48%;
    overflow-y: scroll;
    border: 1px solid grey;
    width: 99%;
}





.center {
    display:flex;
    justify-content: center;
    align-items: center;
}







.dashboard {
    display: grid;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-columns: auto 300px;
    width: 100%;
    height:100%;
}



.controlArea {
    background-color: #F3F5F9;
    width:98%;
    display:grid;
    grid-template-rows: 2% 40% 40% 10%;
    grid-template-columns: 65% 35%;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.sidenav-right {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: end;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.sensorsList{
    background-color: #f8f9f2;
    height:100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.controlDiv {
    background-color: #f8f9f2;
    height:100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#cardBodySensors {
    overflow-y: scroll;
}

.stopwatch {
    margin:5px;
    display:flex;
    justify-content: center;
    align-content: center;


}

.recordingForm {
    background-color: #f8f9f2;
}

#recordingsCard {
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;

}

.recordings {
    padding:0;
    margin-left: 8px;
    margin-top: 8px;
    height: 48%;
    width: 97%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

.terminal {
    padding:0;
    margin-left: 8px;
    margin-top: 8px;
    height: 48%;
    width: 97%;
    background-color:  #444040 ;

}


#terminalId {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow-y: scroll;
}

app-sensors-list {
    height: 90%;
}

