
.dashboard {
    display: grid;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-columns: auto 300px;
    width: 100%;
    height:100%;
}



.controlArea {
    background-color: #F3F5F9;
    width:98%;
    display:grid;
    grid-template-rows: 2% 40% 40% 10%;
    grid-template-columns: 65% 35%;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.sidenav-right {
    background-color: #edede9;
    display: flex;
    flex-direction: column;
    align-items: end;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.sensorsList{
    background-color: #e1e5f2;
    height:100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
}

.controlDiv {
    background-color: #e1e5f2;
    height:100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.recordingForm {
}

#recordingsCard {
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;

}

.recordings {
    padding:0;
    margin-left: 8px;
    margin-top: 8px;
    height: 48%;
    width: 97%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

.terminal {
    padding:0;
    margin-left: 8px;
    margin-top: 8px;
    height: 48%;
    width: 97%;
    background-color:  #93a8ac ;

}


#terminalId {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow-y: scroll;
}

app-sensors-list {
    height: 90%;
    background-color: red;

}

img {
    height: 30px;
    filter: invert(100%);}

.buttons {
    display: inline-flex;
    flex-direction: row;
    color: black;

}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.formContainer {

}

.note {
    width: 97%;
    margin:9px;
    color: grey;
    font-size: 11px;
    align-items: center;
    align-content: center;

}

.shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

li {
    padding:-3px;
    margin:-7px;
}

ul, ol {
}
