<div class="wrapper">
<header>
    <app-header></app-header>
</header>
<div class="body">
    <app-sidenav *ngIf="userIsAuthenticated"></app-sidenav>
    <div class="content">
            <router-outlet></router-outlet>
    </div>
</div>
<footer class="footer">
    <div>
      <span class="text-muted">© 2022 Goethe University</span>
      <span class="text-muted" style="float: right;margin-right:5px">created by:
	      <a href="https://github.com/Maher2ger">MAHER</a></span>
    </div>
  </footer>
</div>
