

footer {
    grid-row-start: 3;
    grid-row-end: 4;
    z-index: 1;
    width:100%;
    background-color: #d9dcd6;
    padding: 3px;
}





app-header {
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;


}




.body {
    margin-top: -1px;
    display:inline-grid;
    grid-template-rows:100%;
    grid-template-columns:200px auto;
    background-color: #E5E7ED;
}

router-outlet {
    height:100%;
    background-color: #FFFFFF;
    grid-column-start: 1;
    grid-column-end: 2;
}

app-dashboard {
    height:100%;
    grid-column-start: 2;
    grid-column-end: 3;
}

.wrapper {
    height:100%;
    width:100%;
    display: grid;
    grid-template-rows:65px calc(100vh - 95px) 30px;
    grid-template-columns:100%;
}

header {

    grid-row-start: 1;
    grid-row-end: 2;
}

app-login {
    width:50%;
    height:70%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.content {
    height:100%;
    grid-column-start: 2;
    grid-column-end: 3;
}

app-sidenav {
    background-color: #748cab;
}
