.example-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
}



mat-card {
    background-color: #FFFAFA;
    height: 30px;
    margin:7px;
    padding:1px;
    padding-left: 0px;
    width: 100%;
}

#myForm {
    width: 100%;
}

.container {
    display:flex;
    width: 90%;
    height: 90%;
    overflow: scroll;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin:2px;
    float: left;
    height: 90%;

}


ul {
    font-family: 'Saira Condensed' !important;
    display: block;
    width: 100%;
    padding-left: 4px;
    list-style-type: none;
    overflow: hidden;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}


.disabled {
    pointer-events:none;
}

app-sensors {
    height: 100%;
}

img {
    margin-left: 6px;
    height:20px;
}


