ul {
    display: flex;
}

mat-form-field {
    width: 100%;
}

mat-card {
    width: 30%;
    left: 35%;
    top: 7em;
}


.background {
    height: calc(100% - 50px);
    position: fixed;
    width:50%;

}

#logo {
    opacity: 0.6;
    width: 500px;
}
