a {
    text-decoration: none;
    color: white;
}

.controlpanelstate {
    width: 250px;
}

.spacerDiv {
    width: 10%;
}

#logoutButton {
    float: right;
}

img {
    width: 50px;
}

mat-toolbar {
    background-color: #5151a2;

}
