<mat-toolbar color="primary">
  <span>
   <a routerLink="/">LearnHub</a>
  </span>
  <div class="spacerDiv"></div>
  <div class="spacerDiv"></div>
  <div class="spacerDiv"></div>
  <div class="spacerDiv"></div>
  <button
		  type="button"
		  class="controlpanelstate btn btn-success"
		  *ngIf="controlpanelConnected && userIsAuthenticated">Controlpanel Connected</button>
  <button type="button"
          class="btn btn-danger controlpanelstate"
          *ngIf="!controlpanelConnected && userIsAuthenticated">Controlpanel ist not Connected</button>
    <div class="spacerDiv"></div>
  <div class="spacerDiv"></div>
  <div class="spacerDiv"></div>

  <button id="logoutButton"
          type="button"
          class="btn btn-warning"
          (click)="logout()"
          *ngIf="userIsAuthenticated">Logout</button>
</mat-toolbar>
